body {
    display: flex;
    background-color: rgb(241, 238, 238);
}


#containerLeft, #containerRight {
    display: flex;
    flex-direction: column;
    height: 1000px;
    width: 1200px;
}

#containerLeft {
    background-image: url('foglia.avif');
    justify-items: flex-start;
    width: 30%;
    background-color: rgb(5, 5, 44);

}

#leftLogo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 200px;    
    color: antiquewhite;
    background-color: rgba(0, 0, 0, 0.363);
    height: 8%;
    padding: 8%;
    font-size: 80px;
    font-weight: 1000;
}


#containerRight {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
}

#description{
    margin: 20px;
    font-size: large;
    font-weight: 600;
    margin-bottom: 50px;
    margin-left: 30px;
}

#letsDoThis{
    font-size: large;
    font-weight: 600;
    margin-left: 30px;
    margin-top: 20px;

}

#formBanner{
    display: flex;
    align-self: center;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    height: 30%;
    width: 100%;
}

form{
    display: flex;
    flex-direction: column;
}

.formInputContainer{
    display: flex;
    margin: 10px;
    margin-left: 30px;
}

.formInput{
    margin-right: 200px;
    box-shadow: inset;
}

#createAccountContainer{
    margin: 30px;
}
#createAccount{
    background-color: olivedrab;
    color: aliceblue;
    font-weight: 700;
    padding: 13px;
    width: 170px;
    border-radius: 10px;
}

input{
    width: 120%;
    height: 50%
}