body {
    display: flex;
}


#containerLeft, #containerRight {
    display: flex;
    flex-direction: column;
    height: 1000px;
    width: 1200px;
    background-color: rgb(241, 238, 238);
}

#containerLeft {
    background-image: url('foglia.avif');
    justify-items: flex-start;
    width: 30%;
    background-color: rgb(5, 5, 44);
}

#leftLogo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 200px;    
    color: antiquewhite;
    background-color: rgba(0, 0, 0, 0.363);
    height: 8%;
    padding: 8%;
    font-size: 80px;
    font-weight: 1000;
}


#containerRight {
    margin-left: 20px;
    
}

#formContainer{
    display: flex;
    background-color: rgb(255, 255, 255);
}
