body {
    display: flex;
}


#containerLeft, #containerRight {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    height: 1000px;
    width: 1200px;
    background-color: rgb(250, 238, 238);
}

#containerLeft {
    background-image: url('foglia.avif');
    justify-items: flex-start;
    width: 30%;
    background-color: rgb(5, 5, 44);
}

#leftLogo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 200px;    
    color: antiquewhite;
    background-color: rgba(0, 0, 0, 0.671);
    height: 8%;
    padding: 8%;
    font-size: 80px;
    font-weight: 1000;
}

